.app-title {
    font-size: 16px;
    color: #b94e7e;
    font-weight: 500;
}
.noInfoClass {
    font-size: 12px;
    color: #2c1332;
    margin-top: 10px;
}
.headerName {
    size: 10pt;
    color: #808080;
}
a.nameLinkClassNotification {
    font-size: 12px;
}
a.linkToConversationNotification {
    font-size: 12px;
}
.recentConversationNotification {
    size: 10pt;
    color: #808080;
}
.subjectTitleClassNotification {
    margin-top: 6px;
    size: 10pt;
    color: #808080;
}
.subjectBodyClassNotification {
    size: 12pt;
    /* padding-bottom: 10px; */
    color: #2c1332;
}
.headerName .fullName {
    size: 12pt;
    /* padding-bottom: 10px; */
    color: #2c1332;
}

.customerNameNotificationClass {
    padding-top: 10px;
    padding-bottom: 10px;
}
.errorHeader {
    font-size: 10px;
    color: #2c1332;
    margin-bottom: 8px;
}
.errorMessageHeader {
    font-size: 10px;
    color: #afafaf;
    margin-bottom: 4px;
}
.errorMessageBody {
    font-size: 12px;
    color: #2c1332;
    margin-bottom: 8px;
}
.errorDetailsHeader {
    font-size: 10px;
    color: #afafaf;
    margin-bottom: 4px;
}
.errorDetailsBody {
    font-size: 12px;
    color: #2c1332;
    padding: 2px;
}
